[package]

name = "handlebars-iron"
version = "0.15.2"
authors = ["Ning Sun <sunng@about.me>"]
description = "Handlebars templating middleware for Iron."
license = "MIT"
keywords = ["handlebars", "templating", "web", "webdev", "iron"]
homepage = "https://github.com/sunng87/handlebars-iron"
repository = "https://github.com/sunng87/handlebars-iron"
documentation = "http://sunng.info/handlebars-iron/"
readme = "README.md"

[dependencies]

iron = "^0.3.0"
handlebars = { version = "^0.16.0", default-features = false }
#handlebars = { path = "../handlebars", default-features = false }
rustc-serialize = { version = "^0.3.16", optional = true }
serde = { version = "^0.7.0", optional = true }
serde_json = { version = "^0.7.0", optional = true }
plugin = "^0.2.6"
notify = { version = "^2.5", optional = true }
log = "^0.3"
walkdir = "^0.1"
serde_macros = { version = "^0.7.0", optional = true }


[features]
default = ["handlebars/default", "rustc-serialize"]
watch = ["notify"]
serde_type = ["handlebars/serde_type", "serde", "serde_json"]
unstable = ["serde_type", "serde_macros"]

[dev-dependencies]
env_logger = "^0.3.2"
maplit = "^0.1.3"
router = "^0.1.0"
