[package]

name = "handlebars-iron"
version = "0.6.3"
authors = ["Ning Sun <sunng@about.me>"]
description = "Handlebars templating middleware for Iron."
license = "MIT"
keywords = ["handlebars", "templating", "web", "webdev", "iron"]
homepage = "https://github.com/sunng87/handlebars-iron"
repository = "https://github.com/sunng87/handlebars-iron"
documentation = "http://sunng.info/handlebars-iron/"
readme = "README.md"

[dependencies]

iron = "*"
handlebars = "*"
rustc-serialize = "*"
plugin = "*"
#notify = "*"

[dev-dependencies]
tojson_macros = "*"
